.listaLetova {
    display: flex;
    flex-direction: column;
    align-items: center;
}


select {
    height: 60px;
    width: 70%;
    font-size: 18px;
}

.naslov {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
}

.nemaLetova {
    color: red;
    font-size: 24px;
    margin: 30px 0;
    font-weight: 800;
}